* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1440px;
  margin: 0 auto;
}

::-ms-input-placeholder {
  color: #ffffff !important;
}

::placeholder {
  color: #ffffff !important;
}

input:focus::placeholder {
  color: #000 !important;
}

#section1 {
  background-image: url(img/img1.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 1rem;
}

.navbar-toggler {
  background-color: #0adab9 !important;
  margin-left: auto;
  margin-right: 8px;
}

#section1 .logoImg {
  width: 10%;
}

#section1 .navbar-nav {
  margin: 0 auto;
}

#section1 .nav-item {
  padding: 0px 8px;
}

#section1 .nav-link {
  font-size: 17px;
  color: #ffffff;
  font-family: "Montserrat";
}

#section1 .dot {
  font-weight: 900;
  font-size: 29px;
  color: #0adab9;
  margin-right: 8px;
  margin-left: 8px;
}

.navbar-collapse {
  background-color: #111928;
}

input {
  color: #ffffff;
}

.form-control {
  height: 36px;
  border-radius: 50px;
  background-color: #111928;
  border: 3px solid #0adab9;
  text-align: end;
  color: #ffffff;
}

#section1 .main-heading {
  font-size: 42px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  padding-top: 7rem;
  padding-left: 4rem;
}

#section1 .para {
  font-size: 17px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Nunito";
  padding-top: 2rem;
  padding-left: 4rem;
  width: 450px;
}

#section1 .btn {
  font-size: 17px;
  color: #1e2535;
  font-weight: 700;
  font-family: "Montserrat";
  border-radius: 52px;
  background-color: #0adab9;
  margin-left: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#section1 .icon {
  padding-left: 4rem;
}
.my-icon {
  width: 45px;
  height: 45px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  color: black;
  background-color: #ffff;
  font-size: 29px;
  border-radius: 50px;
  margin: 0 2px;
}

#section1 .pic {
  width: 85%;
}

#section1 .part2 {
  position: relative;
}

#section1 .sub-heading1 {
  font-size: 35px;
  color: #fefefe;
  font-weight: 600;
  font-family: "Nunito";
  position: absolute;
  text-align: end;
  top: 42%;
  right: -3%;
  transform: translate(-50%, -50%);
  display: none;
}

#section1 .sub-heading {
  font-size: 35px;
  color: #fefefe;
  font-weight: 600;
  font-family: "Nunito";
  position: absolute;
  text-align: end;
  top: 26%;
  right: -9%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1399px) {
  #section1 .main-heading {
    font-size: 42px;
    padding-top: 7rem;
    padding-left: 4rem;
  }

  #section1 .para {
    font-size: 17px;
    padding-top: 2rem;
    padding-left: 4rem;
    width: 400px;
  }

  #section1 .btn {
    font-size: 17px;
    margin-left: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  #section1 .icon {
    padding-left: 4rem;
    padding-bottom: 0rem;
  }
  .my-icon {
    width: 45px;
    height: 45px;
    font-size: 27px;
    margin: 0 2px;
  }

  #section1 .pic {
    width: 100%;
  }

  #section1 .sub-heading {
    font-size: 35px;
    position: absolute;
    top: 27%;
    right: -11%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 1199px) {
  #section1 .main-heading {
    font-size: 42px;
    padding-top: 7rem;
    padding-left: 3rem;
  }

  #section1 .para {
    font-size: 17px;
    padding-top: 2rem;
    padding-left: 3rem;
    width: 400px;
  }

  #section1 .btn {
    font-size: 17px;
    margin-left: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  #section1 .icon {
    padding-left: 3rem;
    padding-bottom: 0rem;
  }
  .my-icon {
    width: 40px;
    height: 40px;
    font-size: 25px;
    margin: 0 2px;
  }

  #section1 .pic {
    width: 100%;
    margin-left: 0px;
  }

  #section1 .sub-heading {
    font-size: 30px;
    position: absolute;
    top: 26%;
    right: -12%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 1024px) {
  #section1 .sub-heading {
    font-size: 27px;
    position: absolute;
    top: 23%;
    right: -14%;
    transform: translate(-50%, -50%);
  }

  #section1 .logoImg {
    width: 15%;
  }
}

@media screen and (max-width: 991px) {
  #section1 .main-heading {
    font-size: 32px;
    padding-top: 4rem;
    padding-left: 1rem;
  }

  #section1 .para {
    font-size: 17px;
    padding-top: 1rem;
    padding-left: 1rem;
    width: 320px;
  }

  #section1 .btn {
    font-size: 14px;
    margin-left: 1rem;
    margin-top: 0rem;
    margin-bottom: 2rem;
  }

  #section1 .icon {
    padding-left: 1rem;
    padding-bottom: 0rem;
  }

  .my-icon {
    width: 35px;
    height: 35px;
    font-size: 23px;
    margin: 0 1px;
  }

  #section1 .pic {
    width: 100%;
    margin-left: 0px;
  }

  #section1 .sub-heading {
    font-size: 25px;
    position: absolute;
    top: 23%;
    right: -14%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (max-width: 767px) {
  #section1 .dot {
   order: 3;
  }
  #section1 .logoImg {
    width: 16%;
    order: 1;
    margin-left: 1rem;
  }
  #section1 .navbar-toggler {
   order: 2;
  }
  #section1 .navbar-collapse {
    order: 4;
  }
}

@media screen and (max-width: 768px) {
  #section1 {
    background-image: url(img/img2.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  #section1 .part2 {
    display: none;
  }

  #section1 .main-heading {
    font-size: 32px;
    padding-top: 4rem;
    padding-left: 1rem;
  }

  #section1 .para {
    font-size: 17px;
    padding-top: 1rem;
    padding-left: 1rem;
    width: auto;
  }

  #section1 .btn {
    font-size: 14px;
    margin-left: 1rem;
    margin-top: 0rem;
    margin-bottom: 2rem;
  }

  #section1 .icon {
    padding-left: 1rem;
    padding-bottom: 0rem;
  }

  .my-icon {
    width: 35px;
    height: 35px;
    font-size: 23px;
    margin: 0 1px;
  }

  #section1 .pic {
    display: none;
  }

  #section1 .sub-heading {
    font-size: 25px;
    position: absolute;
    top: 23%;
    right: -14%;
    transform: translate(-50%, -50%);
    display: none;
  }

  #section1 .sub-heading1 {
    color: #fefefe;
    font-weight: 600;
    font-family: "Nunito";
    text-align: end;
    font-size: 21px;
    position: absolute;
    top: 24%;
    right: -9%;
    transform: translate(-50%, -50%);
    display: block;
  }

  .row {
    position: relative;
  }
}

@media screen and (max-width: 575px) {
  #section1 {
    padding: 1rem 0;
  }

  #section1 .logoImg {
    width: 33%;
  }

  .navbar-toggler-icon {
    width: 1em !important;
    height: 1em !important;
  }

  #section1 .main-heading {
    font-size: 21px;
    padding-top: 4rem;
    padding-left: 5px;
  }

  #section1 .para {
    padding-top: 5.5rem;
    padding-left: 5px;
  }

  #section1 .btn {
    font-size: 14px;
    margin-left: 5px;
    margin-top: 0rem;
    margin-bottom: 2rem;
  }

  #section1 .icon {
    padding-left: 5px;
  }

  .my-icon {
    width: 30px;
    height: 30px;
    font-size: 19px;
    margin: 0 0.5px;
  }

  #section1 .sub-heading1 {
    color: #fefefe;
    font-weight: 600;
    font-family: "Nunito";
    font-size: 19px;
    position: absolute;
    top: 35%;
    right: initial;
    transform: translate(0%, -50%);
    display: block;
    text-align: left;
    padding-top: 4rem;
    left: 20px;
  }

  .row {
    position: relative;
  }
}

@media screen and (max-width: 364px) {
  #section1 .sub-heading1 {
    color: #fefefe;
    font-weight: 600;
    font-family: "Nunito";
    font-size: 19px;
    position: absolute;
    top: 35%;
    right: initial;
    transform: translate(0%, -50%);
    display: block;
    text-align: left;
    padding-top: 1rem;
    left: 20px;
  }
}

/*  */

::-ms-input-placeholder {
  color: #ffffff !important;
}

::placeholder {
  color: #ffffff !important;
}

input:focus::placeholder {
  color: #000 !important;
}

#section{
  background-color: #0a388e;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 10;
}
.navbar-toggler {
  background-color: #0adab9 !important;
  margin-left: auto;
  margin-right: 8px;
}

#section .logoImg {
  width: 10%;
  margin-left: 1rem;
}

#section .navbar-nav {
  margin: 0 auto;
}

#section .nav-item {
  padding: 0px 8px;
}

#section .nav-link {
  font-size: 17px;
  color: #ffffff;
  font-family: "Montserrat";
}
#section .dot {
  font-weight: 900;
  font-size: 29px;
  color: #0adab9;
  margin-right: 8px;
  margin-left: 8px;
}

#section .navbar-collapse {
  background-color: #0a388e;
  margin-top: 4px;
}

input {
  color: #ffffff;
}
#section .form-control{
  height: 36px;
  border-radius: 50px;
  background-color:  #0a388e;
  border: 3px solid #0adab9;
  text-align: end;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  #section .dot {
  order: 3;
  }

  #section .logoImg {
    width: 16%;
    order: 1;
    margin-left: 1rem;
  }
  .navbar-toggler {
   order: 2;
  }
  .navbar-collapse {
    order: 4;
  }
}
@media screen and (max-width: 767px) {
  .offcanvas-header .btn-close {
    filter: invert(1);
  }
  .offcanvas{
    background-color: #111928;
  }
.logoImg{
    width: 35%;
  }
.my-navbarItam {
    padding:4px;
    list-style: none;
  }
  
.my-navbarLinks {
    font-size: 19px;
    color: #ffffff;
    font-family: "Montserrat";
    text-decoration: none;
  }
  #section .logoImg {
    width: 20%;
}
}

@media screen and (max-width: 575px) {
    .offcanvas{
      background-color: #111928;
    }
  .logoImg{
      width: 40%;
    }
  .my-navbarItam {
      padding:4px;
      list-style: none;
    }
    
  .my-navbarLinks {
      font-size: 17px;
      color: #ffffff;
      font-family: "Montserrat";
      text-decoration: none;
    }
  .navbar-toggler-icon {
    width: 1em !important;
    height: 1em !important;
  }
  #section .logoImg {
    width: 30%;
}
}

@media screen and (max-width: 575px) {
  #section {
    padding: 1rem 0;
  }

  #section .logoImg {
    width: 30%;
  }

  .navbar-toggler-icon {
    width: 1em !important;
    height: 1em !important;
  }
}